.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #4f4575;
}
.header {
  width: 256px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #f5f5f2;
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 0;
}
.logo {
  width: 150px;
  height: 30px;
  background: url("../../images/png/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
.bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 75px;
  flex-grow: 1;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.profile-wrapper span {
  font-size: 16px;
  color: #4f4575;
}
.profile-wrapper img {
  width: 75px;
  height: 75px;
}

.rating {
  width: fit-content;
  display: flex;
  font-size: 18px;
  gap: 15px;
  padding: 5px 10px;
  background: #fff;
  border-radius: 16px;
  color: #4f4575;
}
.rating > span:first-child {
  color: #a7a2ba;
}
.rating > span:last-child {
  color: #6077f7;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.categories span {
  color: #a29db4;
}
.categories svg {
  fill: #a29db4;
}
.categories-item {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
.active span {
  color: #6077f7;
}
.active svg {
  fill: #6077f7;
}
.categories-item:hover span {
  color: #6077f7;
}
.categories-item:hover svg {
  fill: #6077f7;
}
.logout {
  width: 100%;
  color: #a29db4;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.logout span {
  cursor: pointer;
}

/* main */
.main {
  width: calc(100% - 256px - 400px);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 32px;
  background: #f5f5f2;
  display: flex;
  flex-direction: column;
}
.create {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.create-inner-wrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #4f4575;
  font-size: 24px;
}
.create-btn {
  background: #6077f7;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.events-categories {
  width: 100%;
  color: #a29db4;
  border-bottom: 1px solid #a29db4;
  display: flex;
  justify-content: space-between;
}
.events-categories svg {
  cursor: pointer;
  height: 100%;
  padding: 0 0 5px 0;
}
.events-categories span {
  cursor: pointer;
  height: 100%;
  padding: 0 0 5px 0;
}

.activeTop {
  color: #6077f7;
  border-bottom: 1px solid #6077f7;
}

.events-categories-main {
  display: flex;
  gap: 32px;
}
.events-categories > svg {
  color: #000;
}

.cards {
  box-sizing: border-box;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 0 32px 0;
}
.card-wrapper {
  display: flex;
  align-items: center;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #fff;
  padding: 24px 0;
  border-radius: 16px;
}
.card-title {
  margin: 0 0 8px 0;
  font-size: 16px;
  width: 100%;
  display: flex;
  margin: 0 0 0 24px;
  gap: 8px;
  color: #4f4575;
}
.card-title span {
  width: 150px;
}
#running .circle {
  width: 48px;
  height: 48px;
  background: #edf2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #6077f7;
}
#hiking .circle {
  width: 48px;
  height: 48px;
  background: #ffeee8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ff7b43;
}
#cycling .circle {
  width: 48px;
  height: 48px;
  background: #eaf9f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #2cc174;
}
.infowrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-self: center;
  color: #000;
}
.infowrapper svg {
  color: #6077f7;
}
.location {
  width: calc(100% - 48px);
  display: flex;
  gap: 8px;
  margin: 0 0 0 24px;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 0 24px 0;
}
.loca {
  width: 40px;
  height: 40px;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.people-take-part {
  margin: 0 0 0 24px;
}
.infowrapper > div {
  width: 80px;
  height: 60px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #a29db4;
  border-radius: 8px;
}
.loc-description {
  display: flex;
  flex-direction: column;
}
.loca svg {
  font-size: 14px;
  color: #6077f7;
}
.loc-description span:last-child {
  font-size: 12px;
  color: #a7a2ba;
}
.address {
  color: #4f4575;
  border-bottom: 1px solid #4f4575;
  font-size: 14px;
}
.people-take-part {
  flex-grow: 1;
  width: calc(100% - 48px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apply-btn {
  font-size: 10px;
  padding: 9px 12px;
  background: #6077f7;
  border-radius: 16px;
  box-shadow: 0px 3px 7px rgba(79, 69, 117, 0.2);
  color: #fff;
}
.avatars {
  display: flex;
  flex-direction: row-reverse;
}
.avatars > div {
  width: 30px;
  height: 30px;
}
.avatars > div:not(:last-child) {
  margin: 0 0 0 -15px;
}
.avatars > div:nth-child(1) {
  z-index: 5;
}
.avatars > div:nth-child(2) {
  z-index: 4;
}
.avatars > div:nth-child(3) {
  z-index: 3;
}
.avatars > div:nth-child(4) {
  z-index: 2;
}
.avatars > div:nth-child(5) {
  z-index: 1;
}
