.stats {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.stats-title span:last-child {
  color: #6077f7;
}
.size-bar {
  width: 50px;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.chart-wrapper {
  display: flex;
}
.chart {
  width: 800px;
  height: 500px;
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
.chart > div {
  display: flex;
  height: 300px;
  width: 25px;
  background: #6077f7;
  border-radius: 16px;
  align-items: flex-end;
}
.chart > div > span {
  margin-bottom: -20px;
}
.january {
  height: 300px;
  width: 25px;
  background: #6077f7;
  border-radius: 16px;
}
